<!DOCTYPE html>
<html>
  <head>

    <nav class="navbar" role="navigation" aria-label="main navigation">

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="http://https://prosciuttobytes.herokuapp.com">
            <button class="button is-info is-light">Home</button>
          </a>

          <a class="navbar-item" href="http://https://prosciuttobytes.herokuapp.com/blog/b1">
          <button class="button is-warning is-light">Blog</button>
          </a>

          <div class="navbar-items has-dropdown is-hoverable">
            <a class="navbar-item" href="https://prosciuttobytes.herokuapp.com/blog/b3">

              <button class="button is-primary is-light">About</button>

            </a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <title>Bytes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
